<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxau.cs.file.man.service.mapper.UserMapper">

    <resultMap id="LiBo" type="com.sxau.cs.file.man.service.bean.UserInfo">
        <result property="name" column="file_name"/>
        <result property="password" column="file_password"/>

    </resultMap>
    <insert id="insertToken">
            INSERT INTO user_token (user_id,token)
            VALUES (#{userId},#{token})
     </insert>

    <update id="deleteToken" parameterType="String">
             DELETE token
             FROM user_token
             WHERE token = #{token}
        </update>

    <select id="queryUserInfoByName" parameterType="String" resultType="Integer">
             SELECT *
             FROM user_tb1 WHERE user_name = #{name}
     </select>

    <select id="queryUserIdByToken" parameterType="String" resultType="Integer">
             SELECT user_id
             FROM user_token WHERE token = #{token}
    </select>

    <select id="queryUserInfoByUserId" parameterType="Integer" resultMap="LiBo">
             SELECT *
             FROM user_tb1 WHERE user_id = #{userId}
    </select>

    <select id="queryFileIdByUserId" parameterType="Integer" resultType="Long">
             SELECT file_id
             FROM user_file WHERE user_id = #{userId}
    </select>

    <select id="queryTokenByUserId" parameterType="Integer" resultType="String">
             SELECT token
             FROM user_token WHERE user_id = #{userId}
    </select>

    <select id="tokenVerification" parameterType="String" resultType="Integer">
             SELECT user_id
             FROM user_token WHERE token = #{token}
    </select>


</mapper>