<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxau.cs.file.service.mapper.UserMapper">

    <resultMap id="libo" type="com.sxau.cs.file.service.bean.UserInfo">
        <result property="name" column="file_name" />
        <result property="password" column="file_password"/>
        <result property="rootFid" column="file_rootfid"/>
        <result property="token" column="file_token"/>
    </resultMap>

        <insert id="insertFile" parameterType="com.sxau.cs.file.provider.model.response.FileInfo">
            INSERT INTO fileInfo_tbl (fileInfo_fileCode,fileInfo_fileName,fileInfo_path)
            VALUES (#{fileCode},#{fileName},#{path})
        </insert>

        <update id="deleteByFileCode" parameterType="String">
             DELETE
             FROM fileInfo_tbl
             WHERE fileInfo_fileCode = #{fileCode2}
        </update>

        <select id="queryUserInfoByName" parameterType="String" resultType="libo">
             SELECT *
             FROM runoob_tbl WHERE file_name = #{name}
        </select>
</mapper>